<div class="container h-100 mt-5">
  <div class="row align-items-center h-100">
    <div class="col-12 col-md-12 col-lg-9 mx-auto">
      <div class="text-center">
        <h1>404 Error</h1>
        <div class="im-sheep mb-5">
          <div class="top">
            <div class="body"></div>
            <div class="head">
              <div class="im-eye one"></div>
              <div class="im-eye two"></div>
              <div class="im-ear one"></div>
              <div class="im-ear two"></div>
            </div>
          </div>
          <div class="im-legs">
            <div class="im-leg"></div>
            <div class="im-leg"></div>
            <div class="im-leg"></div>
            <div class="im-leg"></div>
          </div>
        </div>
        <h4>Oops! No se ha podido encontrar el contenido!</h4>
        <p>Lo siento pero la página que buscas no existe, se ha eliminado o renombrado.</p>
        <button mat-raised-button color="primary"
          (click)="goBack()">
          <i class="fas fa-arrow-left"></i> Volver
        </button>
      </div>
    </div>
  </div>
</div>